body{
    margin:0;
    padding:0;
    background:#fff;
    font-size:12px;
    overflow:auto
}

#loveHeart{
    float:none;
    width:100%;
    max-width:670px;
    height:auto;
    aspect-ratio: 670 / 625;
    margin: 0 auto;
    background-size: contain !important;
}
#garden{
    width:100%;
    height:100%
}

#code{
    float:none;
    width:100%;
    max-width:445px;
    height:auto;
    color:#333;
    font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
    font-size:16px;
    font-weight:bolder;
    margin: 0 auto;
}
#code .string{
    color:#2a36ff
}
#code .keyword{
    color:#7f0055;
    font-weight:bold
}
#code .placeholder{
    margin-left:15px
}
#code .space{
    margin-left:7px
}
#code .comments{
    color:#3f7f5f
}
#copyright{
    text-align:center;
    color:#666
}
#errorMsg{
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    top:100px;
    left:0
}
#copyright a{
    color:#666
}
